@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@font-face {
  font-family: 'SBAggroB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body{
  overflow: hidden;
}
html,body,#root{
  height:100%;
  font-size:10px;
}
#root{
  overflow-y:auto;
}

@media screen and (min-width:600px) {
  html,body,#root{
    font-size:12px;
  }
}
@media screen and (min-width:900px) {
  html,body,#root{
    font-size:14px;
  }
}
@media screen and (min-width:1200px) {
  html,body,#root{
    font-size:18px;
  }
}